*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.spinner-overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.div-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  po
}

.input-btn{
  display: flex;
  margin-top: 40px;
  justify-content:space-around;
  margin-bottom: 40px;
}


.input-search{
  width: 500px;
}
ul{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 2rem;
  
}
li{
  width: 350px;
  height: 400px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

li img{
  width: 200px;
  height: 200px;
  display: flex;
  position: absolute;
  top: 10px;
  left: 75px;

}
.br{
  height: 1px;
  width: 100%;
  background: gray;
  position: absolute;
  top: 240px;
  left: 0;
}

li a{
  text-decoration: none;
}

li h5{
  display: flex;
  width: 320px;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: absolute;
  bottom: -120px;
  left: -155px;
}
.value{
  display: flex;
  flex-direction: column;
  position: absolute;
}
.price{
  position: absolute;
  bottom: -180px;
  left: -155px;
  color: gray;
  
}
.p-price{
  position: absolute;
  top: 20px;
  color: black;
}